body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  color: #ee8467;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    color: #ee8467;
    text-decoration: underline;
  }
}

[role="button"] {
  cursor: pointer;
}

b, strong {
  font-weight: 700;
}

h1 {
  margin-top: 0;
  padding-top: 0;
  color: #58585a;
  font-weight: 700;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: 700
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
}

.list {
  &-unstyled {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}
