@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';

@include from('m') {
  .navbar-menu {
    display: flex;
    justify-content: space-between;
  }
  .header-top .intro-text {
    line-height: 64px;
    font-size: 54px;
  }

  .header-bottom {
    font-size: 24px;
    line-height: 30px;
    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 150rem;
      top: 0;
      background-color: inherit;
    }
    &::before {
      left: 100%;
    }
    &::after {
      right: 100%;
    }
  }

  .content-home {
    padding-bottom: 75px;
  }
}

@include from('l') {
  .top-panel {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .navbar {
    padding-top: 55px;
    &-menu {
      font-size: 12px;
    }
  }

  .header-home .header-bottom {
    padding-top: 48px;
    padding-bottom: 61px;
  }

  .blog-inner {
    padding-top: 30px;
    blockquote {
      padding: 30px 120px;
    }
  }
  .header-top {
    padding-top: 77px;
    .intro-text {
      padding-top: 25px;
    }
  }

  .contact-us-form {
    .left-area {
      height: 296px;
    }
    .icon-fb {
      margin: 0 32px;
    }
  }
  .placeholder-list li {
    width: 42%;
  }
  .header--digital-storytelling {
    .header-top {
      padding-top: 29px;
    }
    .text {
      margin-top: 37px;
      margin-bottom: 74px;
      border-radius: 40px;
      padding: 25px 26px 34px 29px;
      &::before {
        border-top: 26px solid #fff4e4;
        bottom: -26px;
        left: 100px;
      }
    }
    .header-bottom {
      padding-top: 25px;
      padding-bottom: 33px;
      &-text {
        &::after {
          left: 113px;
        }
        &::before {
          left: 109px;
        }
      }
    }
  }

  .content-digital {
    padding-bottom: 90px;
    .intro-text {
      min-height: 395px;
    }
  }
  .content {
    padding-bottom: 125px;
  }
}

@include between('s', 'm') {
  .logo {
    text-align: center;
  }
}

@include to('m') {
  .header .intro-text .text-nowrap {
    white-space: normal;
  }
  .contact-us-form {
    .bottom-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .send-form {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    textarea {
      min-height: 145px;
    }
  }
  .header--video-mag {
    background-size: cover;
  }
}

@include to('s') {
  .navbar {
    padding-top: 14px;
    position: static;
    &-toggle {
      display: block;
      &::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        background-color: #302e28;
        box-shadow: 0 9px 0 0 #302e28, 0 -9px 0 0 #302e28;
      }
    }

    &-menu {
      padding: 30px 0 0 26px;
      max-width: 200px;
      width: 100%;
      background-color: #fff9f2;
      color: #fff;
      position: absolute;
      right: 0;
      top: 100%;
      transform: translateX(103%);
      will-change: transform;
      z-index: 160;
      pointer-events: auto;
      transition: all 130ms ease-in;
      font-size: 15px;
      li {
        margin-bottom: 15px;
      }
      a {
        padding: 0 0 8px;
      }
      &__active {
        transform: translateX(0);
      }
    }
  }

  .logo {
    text-align: left;
  }

  .big-title {
    margin-bottom: 21px;
    font-size: 36px;
  }

  .content-home {
    padding-top: 25px;
    padding-bottom: 75px;
  }

  .content-home-list {
    li {
      padding: 5px;
      font-size: 12px;
      float: left;
      &:not(.fourth) {
        height: 130px;
      }
      &:not(.fifth):not(.eighth) {
        width: calc(100% / 2);
      }
    }
    .fifth, .eighth {
      width: 100%;
    }
    .fifth {
      font-size: 16px;
    }
    .fourth {
      height: 260px;
      span {
        padding: 10px;
        font-size: 20px;
      }
    }
  }

  .footer-nav-memu {
    flex-wrap: wrap;
    justify-content: center;
    li {
      margin: 0 10px 15px;
    }
    a {
      padding-bottom: 0;
      border-width: 0;
    }
    li {
      margin: 0 0 15px;
      width: 50%;
      letter-spacing: 1px;
    }
  }
}

@include to('xs') {
  .content-home-list {
    .first {
      font-size: 11px;
    }
  }
}

@include at('m') {
  .top-panel {
    padding-top: 21px;
    padding-bottom: 32px;
  }
  .header {
    &-top {
      padding-top: 45px;
      .intro-text {
        padding-top: 15px;
        font-size: 30px;
      }
    }
    &-title {
      padding: 6px 28px 4px;
      font-size: 10px;
    }
    &-bottom {
      font-size: 20px;
    }
  }
}
