@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';

@import "common/mixin";

/* fonts */
@import "common/fonts";

/* common */
@import "common/common";

/* forms */
@import "common/form";

/* btn */
@import "common/btn";

/* top-panel */
@import "blocks/top-panel";

/* navbar */
@import "blocks/navbar";

/* header */
@import "blocks/header";

/* content */
@import "blocks/content";

/* footer */
@import "blocks/footer";

/* social */
@import "blocks/social";

/* footer-nav */
@import "blocks/footer-nav";

/* contact-us */
@import "blocks/contact-us";

/* blog */
@import "blocks/blog";

@import "blocks/pagination";

@import "lib/jquery.formstyler";

@import "blocks/sidebar";

@import "blocks/blog-inner";

@import "blocks/our-supporters";

@import "blocks/our-team";

.icon-prev, .icon-next {
  &:before {
    width: 15px;
    height: 15px;
    display: inline-block;
    content: '';
  }
}

.icon-prev {
  &::before {
    background: url(../img/icons/prev.svg) no-repeat center;
    background-size: contain;
  }
}

.icon-next {
  &::before {
    background: url(../img/icons/next.svg) no-repeat center;
    background-size: contain;
  }
}

.embed-responsive {
  margin-bottom: 20px;
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
  padding-bottom: 75%;
}
