.blog {
  padding-top: 35px;
  padding-bottom: 70px;

  &-post {
    border-bottom: 1px solid #f0f1f1;
    &:not(:last-of-type) {
      margin-bottom: 45px;
    }
    &:last-of-type {
      margin-bottom: 30px;
    }
    &-media {
      margin-bottom: 23px;
    }
    &-title {
      padding: 0;
      margin: 0 0 8px;
      font-size: 28px;
      font-weight: 700;
      color: #676767;
      line-height: 1.3;
      a:not(:hover) {
        color: inherit;
      }
    }

    &-meta {
      margin-bottom: 30px;
      font-size: 13px;
      color: #676767;
      .author {
        padding-right: 20px;
        margin-right: 13px;
        border-right: 1px solid #e1e1e2;
        display: flex;
        align-items: center;
        &-avatar {
          margin-right: 10px;
        }
        &-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .name {
            margin-bottom: 5px;
            font-weight: 600;
          }
          .location {
            font-weight: 300;
          }
        }
      }
    }
    &-info {
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .date {
        margin-bottom: 5px;
      }
      .category {
        text-transform: uppercase;
      }
    }
    &-text {
      font-weight: 300;
      line-height: 1.6;
      p {
        margin: 10px 0;
        overflow: hidden;
      }
    }
    &-footer {
      padding: 25px 0 18px;
      text-align: right;
      font-size: 12px;
    }
  }

  .sidebar {
    float: right;
  }
}

.search-block {
  margin-bottom: 35px;
  position: relative;
  .form-control {
    height: 48px;
    border-color: #b9babc;
    outline: 0;
    padding-left: 45px;
    &::-webkit-input-placeholder {
      font-size: 14px;
      color: #989898;
      font-weight: 400;
    }
    &::-moz-placeholder {
      font-size: 14px;
      color: #989898;
      font-weight: 400;
    }
    &:-ms-input-placeholder {
      font-size: 14px;
      color: #989898;
      font-weight: 400;
    }
  }

  .button-search {
    position: absolute;
    top: 9px;
    left: 6px;
    padding: 0;
    &::before {
      width: 32px;
      height: 32px;
      display: block;
      content: '';
      background: url(../img/icons/search.svg) no-repeat center / contain;
    }
  }
}
