.footer-nav {
  padding-top: 26px;
  padding-bottom: 30px;

  &-memu {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    font-weight: 700;
    a {
      color: #fcc777;
      display: inline-block;
      padding-bottom: 15px;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom-color: #fcc777;
        text-decoration: none;
      }
    }
  }
}
