.navbar {
  height: 100%;
  &-menu {
    font-size: 10.67px;
    a {
      color: #000;
      padding-bottom: 15px;
      display: inline-block;
      border-bottom: 2px solid transparent;
    }
    .active a, a:hover {
      border-bottom-color: #ffa679;
    }
  }
  &-toggle {
    display: none;
    padding: 10px 0 10px 10px;
    margin: 0;
    float: right;
    text-align: right;
  }
}
