.our-supporters {
  padding-bottom: 200px;
  background-color: #707173;
  .big-title {
    margin: 0;
    padding: 80px 0 33px;
    color: #ff8069;
    &::after {
      background-color: #ff8069;
    }
  }
  &-intro {
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.1;
  }
  &-map {
    padding-top: 450px;
    position: relative;
    min-height: 737px;
    &::before {
      width: 812px;
      height: 737px;
      background: url(../img/africa-map.png) no-repeat center / contain;
      content: '';
      position: absolute;
      top: 0;
      right: -142px;
    }
  }
  &-list {
    color: #ffffff;
    a:not(:hover) {
      color: #ff7a6e;
    }
    li {
      line-height: 29px;
      font-size: 16px;
    }
  }
}


